<!-- Footer-->
<footer style="text-align: center; margin: 15px 0; font-size: 1.2rem; color: var(--theme-color);">
    <i class='bx bx-copyright'></i> Recommender All Rights Reserved 2022
</footer>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="{{url_for('static', filename='javascript/app.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='javascript/autocomplete.js')}}"></script>
</body>
</html>