{% include 'header.html' %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="content-container">
        <div class="featured-content"
             style="background-size: cover; background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('/static/img/dark_knight.jpg');">
            <img class="featured-title" src="/static/img/batman.png" alt="">
            <h1>The Dark Knight Rises</h1>
            <a href="{{url_for('movie_details', id=49026)}}"><button class="featured-button">WATCH</button></a>
        </div>
        {% for key in movies %}
        <div class="movie-list-container home_container">
            <h1 class="movie-list-title item">Top {{key}}</h1>
            <div class="test">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        {% for movie in movies[key] %}
                        <div class="swiper-slide">
                            <a href="{{url_for('movie_details', id=movie[2])}}">
                                <div class="movie-list-item">
                                    <div class="overlay"></div>
                                    <img class="movie-list-item-img" src="https://image.tmdb.org/t/p/w300{{movie[1]}}"
                                         alt="">
                                    <div class="movie-list-item-title">{{movie[0]}}</div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include 'footer.html' %}
